
  <form [formGroup]="profileForm" >
  <input type="text" formControlName="fname" placeholder="First Name">
  
  <!-- <small [hidden]="username.valid || (username.pristine && !f.submitted)">
    Username is required (minimum 5 characters).
</small> -->
  <span *ngIf="!profileForm.controls['fname'].valid">*</span><br/><br/><br/>

  <input type="text" formControlName="lname" placeholder="Last Name">
  <span *ngIf="!profileForm.controls['lname'].valid">*</span><br/><br/><br/>

  <input type="text" formControlName="empid" placeholder="Employee Id">
  <span *ngIf="!profileForm.controls['empid'].valid">*</span><br/><br/><br/>

  <input type="email" formControlName="email" placeholder="Email">
  <span *ngIf="!profileForm.controls['email'].valid">*</span><br/><br/><br/>
  
  <input type="text" formControlName="mobile" placeholder="Contact Number">
  <span *ngIf="!profileForm.controls['mobile'].valid">*</span><br/><br/><br/>

  <input type="text" formControlName="gender" placeholder="Gender">
  <span *ngIf="!profileForm.controls['gender'].valid">*</span><br/><br/><br/>

  <input type="password" formControlName="pass" placeholder="Password">
  <span *ngIf="!profileForm.controls['pass'].valid">*</span><br/><br/><br/>

  <input type="password" formControlName="conpass" placeholder="Confirm Password" (keyup)="match()">
  <span *ngIf="!profileForm.controls['pass'].valid">*</span><br/><br/><br/>
  <a routerLink="/details">
  <button type="submit" [disabled]="!profileForm.valid" (click)="storeDetails()" >Submit</button>
  </a>
  </form>