<table border=1px>
  <thead>
    <tr>
      <td><h3>First_Name</h3></td>
      <td><h3>Last_Name</h3></td>
      <td><h3>Emp-id</h3></td>
      <td><h3>Email</h3></td>
      <td><h3>Mobile</h3></td>

      <td><h3>Gender</h3></td>
      <td><h3>Password</h3></td>
    </tr>
  </thead>
  <tr>
    <td>{{item.fname}}</td>
    <td>{{item.lname}}</td>
    <td>{{item.empid}}</td>
    <td>{{item.email}}</td>
    <td>{{item.mobile}}</td>
    <td>{{item.gender}}</td>  
    <td>{{item.pass}}</td>  
  </tr>
  </table>
